/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgb(0, 0, 0);
}

#main-image-wrapper {
	padding-top: 139px;
	text-align: center;
}

#intro-main {
	display: flex;
	flex-direction: column;
	margin: 54px auto 140px;
	width: 300px;
	align-items: center; 
	color: white;
	font-size: 35px;
	font-weight: 550;
	gap: 25px;
}

#intro-main p {
	text-align: center;
	line-height: 40px; 
}

#join-us-text {
	margin-top: 73px;
	font-size: 16px;
	font-weight: 400;
	opacity: 0.6;
}

@keyframes UpAndDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
} 

#down-arrow-icon {
	width: 33px;
	animation: UpAndDown 1s infinite;
}

#list-item-wrapper {
	margin: 0 auto 500px; 
	width: 383px;
} 

.list-item {
	display: inline;
	font-size: 48px;
	font-weight: 600;
	/* line-height: 52.8px;
	text-align: center; */
}

.list-item::before {
	display: inline-block;
	background-image: url('https://github.com/nnahyunn/kakao-interactive-scrolling/blob/main/dark_house.png?raw=true');
	background-size: 51px 53px;
	content: '';
	width: 51px;
	height: 53px;
} /* 가상선택자로 html안건들이고 */


.list-item#on {
	color: white;
}

.list-item#on::before {
	background-image: url('https://github.com/nnahyunn/kakao-interactive-scrolling/blob/main/light_house.png?raw=true');
}

#panel1-image {
	overflow: hidden;
  	position: relative;
	height: 420px;
}

#flying-lion-image {
	position: absolute;
	right: -150px;
  	height: 400px;
	translate: none;
	rotate: none;
	scale: none;
  	transform: translate(80px, -13px) rotate(23deg);
}
